__pycache__
.vscode
components/__pycache__
*/.DS_Store
.DS_Store
*.out
env
node_modules
package.json
package-lock.json
target
ssl_pem/
configs/grafana_conf
configs/nginx_conf
configs/OvenSpace_conf
*.log
