[OVENSPACE]
OME_HOST = '192.168.4.240'

OME_API_ENABLE_TLS = 'true'
OME_API_PORT = '8082'
OME_API_ACCESS_TOKEN = 'admin:admin'

OME_VHOST_NAME = 'default'
OME_APP_NAME = 'app'
OME_STREAM_NAME = 'stream'

OME_RTMP_PROVIDER_PORT = '1935'

OME_SRT_PROVIDER_PORT = '9999'

OME_WEBRTC_PROVIDER_ENABLE_TLS = 'true'
OME_WEBRTC_PROVIDER_PORT = '3334'

OME_WEBRTC_PUBLISHER_ENABLE_TLS = 'true'
OME_WEBRTC_PUBLISHER_PORT = '3334'

OME_LLHLS_PUBLISHER_ENABLE_TLS = 'true'
OME_LLHLS_PUBLISHER_PORT = '3334'

## grafana panel display config ##
[GRAFANA]
GRAFANA_PORT = "3000"
DASHBOARD_ID = "b4307069-b390-4c30-adac-e7397c3e672bdsk"
DASHBOARD_NAME = "xr-cube" # lower case, replace _ with -
THEME = "light"
TIME_SPAN = '6h'


