<!DOCTYPE html>
<html>

    <head>
        <link rel="shortcut icon" href="/static/img/xrcube_logo.ico">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&amp;display=swap"
            rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
            crossorigin="anonymous">

        <link rel="stylesheet" href="/static/css/ovenspace.css">

        <title>Dashboard</title>
    </head>

    <body class="app">
        <div id="dummy">
            <div id="dashboard" class="row container d-flex flex-column display-panel">
                <!-- This row might need to remove. Change to iframe -->
                <div id="general_info" class="container d-flex flex-row justify-content-center">
                    <iframe class="col-4" id='1' height="200" frameborder="0"></iframe>
                    <iframe class="col-4" id='2' height="200" frameborder="0"></iframe>
                    <iframe class="col-4" id='3' height="200" frameborder="0"></iframe>
                </div>
                <div class="container d-flex flex-row">
                    <iframe class="col-6" id='download' height="200" frameborder="0"></iframe>
                    <iframe class="col-6" id='upload' height="200" frameborder="0"></iframe>
                </div>
                <div class="container d-flex flex-row">
                    <iframe class="col-6" id='packet_loss' height="200" frameborder="0"></iframe>
                    <iframe class="col-6" id='latency' height="200" frameborder="0"></iframe>
                </div>
                <script>

                    const GRAFANA_HOST = "{{grafana_host}}";
                    const DASHBOARD_ID = "{{dashboard_id}}"
                    const DASHBOARD_NAME = "{{dashboard_name}}"
                    const THEME = "{{theme}}"
                    const TIME_SPAN = "{{time_span}}";

                    function get_src(panel_id) {
                        return GRAFANA_HOST + "/d-solo/" + DASHBOARD_ID + "/" + DASHBOARD_NAME
                            + "?orgId=1&refresh=5s&from=now-" + TIME_SPAN + "&to=now&theme=" + THEME
                            + "&panelId=" + panel_id;
                    }

                    document.getElementById("download").src = get_src(90);
                    document.getElementById("upload").src = get_src(92);
                    document.getElementById("packet_loss").src = get_src(93);
                    document.getElementById("latency").src = get_src(94);

                    // TODO fix here with proper panel id
                    document.getElementById("1").src = get_src(1);
                    document.getElementById("2").src = get_src(2);
                    document.getElementById("3").src = get_src(3);
                </script>
            </div>
        </div>
    </body>

</html>
