<!DOCTYPE html>
<html>

    <head>
        <title>Dashboard</title>
    </head>

    <body>
        <div id="dashboard">


            <!-- <iframe id="panel1" src="404.html" width="550" height="350" frameborder="0"></iframe> -->
            <iframe id='panel1' src="" width="450" height="200" frameborder="0"></iframe>


            <script>
                // let host = 'localhost';
                // let host = '192.168.4.240';

                let src1 = "https://hsnu-ap:3000/d-solo/a0291635-70f8-4e1e-a20d-f888fd62677a/new-dashboard?orgId=1&from=now-6h&to=now&panelId=1";


                document.getElementById("panel1").src = src1;

            </script>
        </div>
    </body>


</html>
